*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  background: url('../img/background.png') no-repeat;
  background-size: cover;
}

.container{
  margin-top: 55px;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    filter: opacity(0.45);
    max-width: 100%;
  }
}

.columns{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formHeader {
  margin: 25px auto;
  text-align: center;
  color: white;
  font-size: 32px;
  text-shadow: 1px 2px 2px #000;
}

.form-wrapper{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

  form{
    padding: 20px;
    background-color: #f4f4f4;

    display:flex;
    flex-direction: column;
  }

    label{
      color: #afafaf;
      font-size: 16px;
    }

    input, textarea{
      background-color: #f4f4f4;
      margin-top: 20px;
      padding: 10px 0px 10px 70px;
      font-size: 16px;
      font-family: 'Titillium Web', sans-serif;
      color: black;
      border: 1px solid #afafaf;
      outline: none;

      &::placeholder{
        color: #afafaf;
      }
    }
    input[type="text"]
    {
      background: url('../img/icon-person.png') no-repeat  7px ;
    }

    input[type="password"]
    {
      background: url('../img/icon-password.png') no-repeat  7px ;
    }

    input[type="email"]
    {
      background: url('../img/icon-email.png') no-repeat  7px ;
    }

    input[list]{
      background: url('../img/icon-location.png') no-repeat 7px;
    }

    input[type='tel']{
      background: url('../img/icon-phone.png') no-repeat 7px;
    }

    input[type="checkbox"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      display: inline-block;
      height: 20px;
      width: 20px;
      padding: 0;
      border-radius: 2px;
      position: relative;

      &:after{
        position: absolute;
        content: '';
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background-color: #a1d63e;
        visibility: hidden;
      }

      &:checked:after{
        visibility:visible;
      }
    }

    textarea{
      margin-top: 20px;
      padding-left: 7px;
      resize: none;
      width: 100%;
      height: 15em;
    }

    input[type=submit]{
      padding: 10px 35px;
      text-align: center;
      background-color: #a1d63e;
      border-radius: 5px;
      color: #fff;
      border: none;
    }

.remember-me-wrapper,
.buttons-wrapper{
  display: flex;
  justify-content: space-between
}

.disabled{
  filter: opacity(0.5)
}
