doctype html
html(lang="en")
    head
      meta(charset="utf-8")
      title WeeklyWebDev1
      meta(name="description" content='WeeklyWebDev1')
      meta(name="author" content="Karol Rungo")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

      link(rel="stylesheet" href="css/style.css")

    body
      .container
        header
          img(src="img/main-logo.png" alt="main-logo")

        .columns
          .column
            include register-form
            include send-email
          .column
            include sign-in
            include recover
            include subscribe
            img(src='img/logo-footer.png' alt='small-logo' class='footer-logo')



      script(src="js/scripts.js")
