section
  h1.formHeader Recover form
  .form-wrapper
    form
      input(type="email" placeholder="Email" required)
      input(type="tel" placeholder='Enter your phone number' required)
      .flex-row
        input(type="submit" value="Send")
        input(type="submit" class='disabled' value='Done' disabled)
