section
  h1.formHeader Register form
  .form-wrapper
    form
        input(type="text")
        input(type="password")
        input(type="email")
        input(type="email")
        input(type="list")
        input(type="checkbox")
        input(type="submit")
