section
  h1.formHeader Sign in
  .form-wrapper
    form
        input(type="text" placeholder="Username" required)
        input(type="password" placeholder="Password" required)
        .remember-me-wrapper
            .checkbox-wrapper
                input(type="checkbox" id="terms" required)
                label(for="terms") Remember me
            input(type="submit" value="Sign in")
