section
  h1.formHeader Subscribe form
  .form-wrapper
    form
      input(type="email" placeholder="Email" required)
      .flex-row
        input(type="submit" value="Send")
        input(type="submit" value='No, thanks' class='red')
